[Desktop Entry]
Name=NovaTwin
Comment=NovaTwin - Desktop Chat Client for Google Gemini
Exec=novatwin
Icon=com.novatwin.app
Terminal=false
Type=Application
Categories=Network;Chat;Utility;
StartupWMClass=NovaTwin
